.box {
  width: 200px;
  margin: 0 auto;
  display: grid;
}

img {
  height: 200px;
  width: 200px;
}

.imgDiv {
  padding: 10px;
  border: solid 1px black;
  width: 200px;
  margin: 5px;
  border-radius: 15px;
}
