.App {
  text-align: center;
}

body {
  background-color: mediumaquamarine;
}

select {
  width: 100px;
}

.type-box,
.horns-box {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: center;
}
